@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  body{
    font-family: "Roboto", sans-serif;;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .divShadow {
    box-shadow: 1px 2px 4px 0px #00000040;
  }
  .profileInActiveInp {
    padding: 13px 14px;
    border: none;
  }
  .profileInp, .goalSettingInp {
    width: 100%;
    border: 1px solid #42119680;
    padding: 13px 14px;
    outline: none;
    border-radius: 10px;
  }
  .profileInp::placeholder, .profileActiveInp::placeholder{
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 700;
  }
  .goalSettingInp::placeholder{
    color: #4E4E4E;
    font-size: 20px;
    font-weight: 400;
  }
  @media screen and (min-width: 769px) and (max-width: 1156px) {
    .custom-img-container {
      height: max-content;
      align-self: center;
      padding: 0 !important;
    }
  }  
}
/* h1, h2, h3, h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */